.modecBlue {
  color: #003399;
}

.modecRed {
  color: #ff0033;
}

.modecGrey {
  color: #b2bcce;
}

.modecCyan {
  color: #2699cd;
}

.modecNavy {
  color: #23344f;
}

.modecGrey-bg {
  background-color: #f8f9fa;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
.padding-50 {
  padding: 50px 0;
}

.flexGaping {
  display: flex;
  gap: 17px;
}